
@{
    ViewData["Title"] = "CreateRecipeWithOpenAI";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Open AI ile Yapay Zeka Destekli Yemek Tarifi Önerisi</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Elinizdeki Malzemeler ve Anahtar Kelimeler</label>
                            <input type="text" name="prompt" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Tarif önerisi oluştur</button>
                        </form>
                        <br />
                        @{
                            string recipeContent = ViewBag.Recipe ?? ViewBag.RecipeError;
                        }
                        @if (recipeContent != null)
                        {
                            <hr />
                            <h5>AI Tarafından Yemek Önerisi</h5>
                            @Html.Raw(recipeContent)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>