<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="index.html">
                <img alt="image" src="/otika-bootstrap-admin-template/assets/img/logo.png" class="header-logo" /> <span class="logo-name">Yummy</span>
            </a>
        </div>
        <ul class="sidebar-menu">
            <li class="dropdown"><a href="/Default/Index" class="nav-link"><i data-feather="home"></i><span>Siteye git</span></a></li>
            <li class="dropdown"><a href="index.html" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a></li>
            <li class="dropdown"><a href="/Category/ListCategories" class="nav-link"><i data-feather="briefcase"></i><span>Kategoriler</span></a></li>
            <li class="dropdown"><a href="/Product/ListProducts" class="nav-link"><i data-feather="package"></i><span>Ürünler</span></a></li>
            <li class="dropdown"><a href="/Feature/ListFeatures" class="nav-link"><i data-feather="cast"></i><span>Öne Çıkan Alan</span></a></li>
            <li class="dropdown"><a href="/About/ListAbouts" class="nav-link"><i data-feather="info"></i><span>Hakkımızda</span></a></li>
            <li class="dropdown"><a href="/WhyChooseYummy/ListServices" class="nav-link"><i data-feather="sun"></i><span>Neden Biz</span></a></li>
            <li class="dropdown"><a href="/Testimonial/ListTestimonials" class="nav-link"><i data-feather="heart"></i><span>Müşteri Yorumları</span></a></li>
            <li class="dropdown"><a href="/YummyEvent/ListYummyEvents" class="nav-link"><i data-feather="film"></i><span>Organizasyonlar</span></a></li>
            <li class="dropdown"><a href="/Chef/ListChefs" class="nav-link"><i data-feather="underline"></i><span>Şeflerimiz</span></a></li>
            <li class="dropdown"><a href="/Reservation/ListReservations" class="nav-link"><i data-feather="calendar"></i><span>Rezervasyonlar</span></a></li>
            <li class="dropdown"><a href="/Gallery/ListImages" class="nav-link"><i data-feather="image"></i><span>Galeri</span></a></li>
            <li class="dropdown"><a href="/Contact/ListContacts" class="nav-link"><i data-feather="map-pin"></i><span>İletişim Bilgisi</span></a></li>
            <li class="dropdown"><a href="/Message/ListMessages" class="nav-link"><i data-feather="message-circle"></i><span>Mesajlar</span></a></li>
        </ul>
    </aside>
</div>